{% extends 'base/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}{{header|capfirst}} Password{% endblock title %}

{% block main %}
<div class="container">
    <form method="post">
        <legend class="border-bottom">{{header|capfirst}}</legend>
        {% csrf_token %}
        {{form|crispy}}
        <div class="mt-2 pt-2 border-top">
            <button class="btn btn-primary" type="submit">{{button_text}}</button>
        </div>
    </form>
</div>
{% endblock main %}