{% extends 'base-template.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block body %}

<style>
    .container-base {
        min-height: 100vh;
        height: fit-content;
    }
</style>

<div class="container-base">
    {% include 'website/snippets/header.html' %}
    {% include 'website/snippets/messages.html' %}
    <div class="container-main">
        {% block main %} {% endblock main %}
    </div>
    {% include 'website/snippets/footer.html' %}
</div>

{% endblock body %}