<header class="shadow-sm">
    <ul class="d-flex align-items-center">
        <li class="mx-3"><i id="id-sidebar-toggler" class='bx bx-menu'></i></li>
        <li class="mx-2"><a href="{% url 'accountant:home' %}">Home</a></li>
    </ul>
    <ul class="d-flex">
        {% if user.is_authenticated %}
        <li class="mx-2"><a href="{% url 'accountant:profile' %}">Profile</a></li>
        <li class="mx-2"><a href="{% url 'website:logout' %}">Logout</a></li>
        {% else %}
        <li class="mx-2"><a href="{% url 'website:login' %}">Login</a></li>
        {% endif %}
    </ul>
</header>