{% extends 'administrator/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}{{action|capfirst}} Staff{% endblock title %}

{% block main %}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <legend class="fw-bold fs-3 border-bottom">{{action|capfirst}} Staff</legend>
        {% csrf_token %}
        <p class="mt-4 fw-bold border-bottom">User Information</p>
        {{u_form|crispy}}
        <p class="mt-4 fw-bold border-bottom">General Information</p>
        {{s_form|crispy}}
        <p class="mt-4 fw-bold border-bottom">Permanent Address</p>
        {{pa_form|crispy}}
        <p class="mt-4 fw-bold border-bottom">Current Address</p>
        {{ca_form|crispy}}
        <div class="d-flex justify-content-between my-2 pt-2 border-top">
            <button class="btn btn-primary" type="submit">{{action}}</button>
        </div>
    </form>
</div>
{% endblock main %}