{% extends 'student/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Fee{% endblock title %}

{% block main %}
<div class="container">
    <form method="post">
        <Legend class="border-bottom">Pay Fee</Legend>
        {% csrf_token %}
        {{form|crispy}}
        <P>Payable Amount : {{payable_amount}}</P>
        <div class="d-flex justify-content-between mt-2 pt-2 border-top">
            <button class="btn btn-primary" type="submit">Pay</button>
        </div>
    </form>
</div>
{% endblock main %}