{% extends 'administrator/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}{{action|capfirst}} Class{% endblock title %}

{% block main %}
<div class="container">
    <form method="post">
        <legend class="fw-bold fs-3 border-bottom">{{action|capfirst}} Class</legend>
        {% csrf_token %}
        {{form|crispy}}
        <div class="d-flex justify-content-between mt-2 pt-2 border-top">
            <button class="btn btn-primary" type="submit">{{action}}</button>
        </div>
    </form>
</div>
{% endblock main %}