{% extends 'accountant/base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Fee Payment{% endblock title %}

{% block main %}
<div class="d-flex justify-content-center mt-4">
    <form method="post">
        <legend class="fw-bold fs-3 border-bottom">Pay Fee</legend>
        {% csrf_token %}
        {{form|crispy}}
        <p class="mt-2">Payable amount: {{payable_amount}}</p>
        <div class="d-flex justify-content-between mt-2 pt-2 border-top">
            <button class="btn btn-primary" type="submit">Pay</button>
        </div>
    </form>
</div>
{% endblock main %}